﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    ViewBag.Title = "Inventory";
}
    <h1>Inventory</h1>
    <p>View current inventory levels, or make a purchase</p>
    <div id="InventoryTableOutput"></div>
    <div id="InventoryItemPurchaseOutput"></div>


    @*Template for inventory list table using handlebars*@

    <script id="InventoryListTable" type="text/html">
        <table class="table table-condensed" style="width:75%">
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th></th>
            </tr>

            <tbody>
                {{#each InventoryItem}}
                <tr data-id={{Id}}>
                    <td>{{Name}}</td>
                    <td>{{Quantity}}</td>
                    <td>
                        <button class="purchaseInventoryItem">Purchase</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </script>

    <script id="InventoryItemPurchase" type="text/html">
        <hr />
        <form>
            <input type="hidden" name="id" id="id" value="{{Id}}" />
            <label for="name">Name: </label>
            <input type="text" name="Name" id="name" required value="{{Name}}" />
            <br />
            <label for="quantity">Current Quantity: </label>
            <input type="number" min="0" max="1000000" name="Quantity" id="quantity" value="{{Quantity}}" readonly />
            <br />
            <label for="purchaseQuantity">Purchase Quantity: </label>
            <input type="number" min="0" max="{{Quantity}}" name="PurchaseQuantity" id="purchaseQuantity" value="0" />
            <br />

            <input type="button" id="saveInventoryItemPurchase" value="Purchase" />

            <input type="button" id="cancelInventoryItemPurchase" value="Cancel" />
        </form>
    </script>

    @section scripts{

        <script src="~/Scripts/handlebars.js"></script>

        <script>

        @*InventoryServer handles the interaction with the InventoryController aka: the InventoryApi*@
        var InventoryServer = (function () {
            var InventoryApiUrl = '@Url.RouteUrl("DefaultApi", new { httproute="", controller="InventoryItem"})';

            $(document).ajaxError(function (event, xhr) {
                alert(xhr.status + ", meaning:" + xhr.statusText);
            });

            //Get all inventory items
            var getInventoryList = function () {
                return $.ajax(InventoryApiUrl);
            };

            //Get a specific inventory item
            var getSelectedInventoryItem = function (id) {
                return $.ajax(InventoryApiUrl + "/" + id);
            };

            //Update a specific inventory item
            var updateInventoryItem = function (InventoryItem) {
                return $.ajax(InventoryApiUrl + "/" + InventoryItem.Id,
                    {
                        type: "PUT",
                        data: InventoryItem
                    });
            };

                return {
                getInventoryList: getInventoryList,
                getSelectedInventoryItem: getSelectedInventoryItem,
                updateInventoryItem: updateInventoryItem
            };
        }());

        //This IIFE Handles the manipulation of the data and on-screen changes
        (function () {

            var templates = {};     //For holding Handlebars templates

            //This compiles all of the Handlebars templates
            var compileTemplates = function () {
                templates.InventoryListTable = Handlebars.compile($("#InventoryListTable").html());
                templates.InventoryItemPurchase = Handlebars.compile($("#InventoryItemPurchase").html());
                };

            //This is used to show the full inventory list
            var showInventoryList = function (data) {
                var output = templates.InventoryListTable({ InventoryItem: data });
                $("#InventoryTableOutput").html(output);
            };

            //This is used to show a selected inventory item in the Purchase Form
            var purchaseSelectedInventoryItem = function (InventoryItem) {
                var output = templates.InventoryItemPurchase(InventoryItem);
                $("#InventoryItemPurchaseOutput").html(output);
            };

            //This refreshes the inventory list
            var refreshInventoryList = function () {
                InventoryServer.getInventoryList().done(showInventoryList);
            };

            //This displays the inventory item to purchase
            var purchaseInventoryItem = function () {
                var id = getId(this);
                InventoryServer.getSelectedInventoryItem(id).done(purchaseSelectedInventoryItem);
            };

            //After a purchase, this clears the Purchase Form from the view
            var clearPurchase = function(){
                $("#InventoryItemPurchaseOutput").empty();

            };


            ////This is used to handle inventory item purchase transactions
            var saveInventoryItemPurchase = function () {


                var purchaseIsValid;
                var operation;

                //Validate purchase quantity
                if(($("#quantity").val() - $("#purchaseQuantity").val()) < 0)
                {
                    var message2 = "Purchase Quantity must be less than or equal to Quantity."
                    alert(message2);
                    purchaseIsValid = false;
                }

                else if ($("#purchaseQuantity").val() < 0)
                {
                    var message1 = "Purchase Quantity, obviously, must be zero or a positive number.";
                    alert(message1);
                    purchaseIsValid = false;
                }

                else {
                    purchaseIsValid = true;
                }

                var item = {
                    "Id": $("#id").val(),
                    "Name":$("#name").val(),
                    "Quantity": ($("#quantity").val() - $("#purchaseQuantity").val())
                };

                if (purchaseIsValid)
                {
                    operation = InventoryServer.updateInventoryItem(item);
                    operation.done(refreshInventoryList, clearPurchase);
                }
            };

            //This connects the click events as the page is rendered
            var wireEvents = function () {

                $(document).on("click", ".purchaseInventoryItem", purchaseInventoryItem);
                $(document).on("click", "#saveInventoryItemPurchase", saveInventoryItemPurchase);
                $(document).on("click", "#cancelInventoryItemPurchase", clearPurchase);
            };

            //This returns the id of a selected inventory item
            var getId = function (element) {
                return $(element).parents("tr").attr("data-id");
            };

            $(function () {
                wireEvents();
                compileTemplates();
                refreshInventoryList(showInventoryList);
            });
        }());

        </script>

    }

