﻿@model GroupFourPhaseOne.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<h2>Login</h2>

@using (Html.BeginForm())

{

    @Html.ValidationSummary(true, "Login Failed, check details");

    <div>

        <fieldset>

            <legend>Please enter your username and password</legend>

            <div class="editor-label">
            @Html.LabelFor(u => u.Username)
            </div> 

            <div class="editor-field">
                @Html.TextBoxFor(u => u.Username, new { id = "first" })

                @Html.ValidationMessageFor(u => u.Username)

            </div>

            <div class="editor-label">@Html.LabelFor(u => u.Password)</div>

            <div class="editor-field">
                @Html.PasswordFor(u => u.Password)

                @Html.ValidationMessageFor(u => u.Password)

            </div>

            <input type="submit" value="Log In" />

        </fieldset>

    </div>

<script>
    $(function () {
        $("#first").focus();
    });

</Script>
}

