﻿@{
    ViewBag.Title = "Home Page";
}
<div id="myCarousel" class="carousel slide container" data-ride="carousel" ;>
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="http://i.imgur.com/ZMjKVP1.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Inventory Tracker Home Page.</h1>
                    <p> View our current inventory or make purchases</p>
                    <li>@Html.ActionLink("Inventory", "Inventory", "Inventory", new { area = "" }, null)</li>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="second-slide" src="http://i.imgur.com/tel70WI.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Log in to make changes to the inventory.</h1>
                    <li>@Html.ActionLink("Login", "LogIn", "Login", new { area = "" }, null)</li>
                    
                </div>
            </div>
        </div>
        
                    
            
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div><!-- /.carousel -->
<br />
<br />

<center>
    <h1>Inventory Tracker Home</h1>
    <p>
        As a public user, this inventory tracker allows you to view the available items and quantities of each and purchase a chosen item.<br />
        Log in to create new items, edit or delete existing items, and manage other users.
    </p>
</center>

<center>
    <h3>Created by</h3>
    <p>GROUP FOUR</p>
    <ul>
        <li>Caleb Carter</li>
        <li>Kevin Carpenter</li>
        <li>Michelle Coleman</li>
        <li>Neil Thompson</li>
        <li>Jay Tulk</li>
    </ul>
</center>