﻿
@{
    ViewBag.Title = "Administrator Home Page";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Administrator Home</h1>
<p>As an administrator, you can view all current items in inventory along with their respective quantities. You can edit or delete any existing item or add a new item. You can also manage accounts for all users.</p>
