﻿
@{
    ViewBag.Title = "Inventory Manager";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Administrator Inventory Manager</h1>

<button id="createInventoryItem">Add a new item</button>
<div id="InventoryTableOutput">

</div>

<div id="InventoryItemEditOutput">

</div>

@*Template for inventory list table using handlebars*@

<script id="InventoryListTable" type="text/html">
    <table class="table table-condensed"style="width:75%" >
        <thead>
        <th>Name</th>
        <th>Quantity</th>
        <th>Created By</th>
        <th></th>
        </thead>
        <tbody>
            {{#each InventoryItem}}
            <tr data-id={{Id}}>
                <td>{{Name}}</td>
                <td>{{Quantity}}</td>
                <td>{{CreatedByUserId}}</td>
                <td>
                        <button class="editInventoryItem">Edit</button>
                        <button class="deleteInventoryItem">Delete</button>                   
                </td>
            </tr>
            
            {{/each}}
        </tbody>
    </table>
</script>

<script id="InventoryItemEdit" type="text/html">
    <hr />
    <form>
        <input type="hidden" name="id" id="id" value="{{Id}}" />
        <label for="name">Name: </label>
        <input type="text" name="Name" id="name" required value="{{Name}}" />
        <br />
        <label for="createdByUserId">Created by User: </label>
        <input type="text" name="CreatedbyUserId" id="createdByUserId" value="{{CreatedByUserId}}" />
        <br />
        <label for="quantity">Quantity: </label>
        <input type="number" min="0" max="1000000" name="Quantity" id="quantity" value="{{Quantity}}" />
        <br />

        <input type="button" id="saveInventoryItem" value="Save" />

        <input type="button" id="cancelInventoryItemSave" value="Cancel" />
    </form>
</script>

@section scripts{

    <script src="~/Scripts/handlebars.js"></script>


    <script>

        @*InventoryServer handles the interaction with the InventoryController aka: the InventoryApi*@
        var InventoryServer = (function () {
            var InventoryApiUrl = '@Url.RouteUrl("DefaultApi", new { httproute="", controller="InventoryItem"})';

            $(document).ajaxError(function (event, xhr) {
                alert(xhr.status + ", meaning:" + xhr.statusText);
            });

            //Get all inventory items
            var getInventoryList = function () {
                return $.ajax(InventoryApiUrl);
            };

            //Get a specific inventory item
            var getSelectedInventoryItem = function (id) {
                return $.ajax(InventoryApiUrl + "/" + id);
            };

           
            //Update a specific inventory item
            var updateInventoryItem = function (InventoryItem) {
                return $.ajax(InventoryApiUrl + "/" + InventoryItem.Id,
                    {
                        type: "PUT",
                        data: InventoryItem
                    });
            };

            //Create a new inventory item
            var createInventoryItem = function (InventoryItem) {
                return $.ajax(InventoryApiUrl, {
                    type: "POST",
                    data: InventoryItem
                });
            };

            //Delete a specific inventory item
            var deleteInventoryItem = function (id) {
                return $.ajax(InventoryApiUrl + "/ " + id, {
                    type: "DELETE"
                });
            };

                return {
                deleteInventoryItem:deleteInventoryItem,
                getInventoryList: getInventoryList,
                getSelectedInventoryItem: getSelectedInventoryItem,
                createInventoryItem:createInventoryItem,
                updateInventoryItem: updateInventoryItem                
            };
        }());

        //This IIFE Handles the manipulation of the data and on-screen changes
        (function () {

            var templates = {};     //For holding Handlebars templates

            //This compiles all of the Handlebars templates
            var compileTemplates = function () {
                templates.InventoryListTable = Handlebars.compile($("#InventoryListTable").html());
                templates.InventoryItemEdit = Handlebars.compile($("#InventoryItemEdit").html());
                };

            //This is used to show the full inventory list
            var showInventoryList = function (data) {
                var output = templates.InventoryListTable({ InventoryItem: data });
                $("#InventoryTableOutput").html(output);
            };

            //This is used to show a selected inventory item in the Edit Form
            var showSelectedInventoryItem = function (InventoryItem) {
                var output = templates.InventoryItemEdit(InventoryItem);
                $("#InventoryItemEditOutput").html(output);
            };

            //This refreshes the inventory list
            var refreshInventoryList = function () {
                InventoryServer.getInventoryList().done(showInventoryList);
            };

            //This displays the inventory item to edit
            var editInventoryItem = function () {
                var id = getId(this);
                InventoryServer.getSelectedInventoryItem(id).done(showSelectedInventoryItem);
            };   

            //This is used to create a new inventory item
            var createInventoryItem = function () {
                var item = { Id: 0, Name: "", CreatedByUserId:0, Quantity: 0 };
                showSelectedInventoryItem(item);
            };

            //This is used to delete a selected inventory item
            var deleteInventoryItem = function () {
                var id = getId(this);
                InventoryServer.deleteInventoryItem(id).done(refreshInventoryList);
            };

            //After an inventory item is edited or created, this clears the Edit Form from the View
            var clearEdit = function () {
                $("#InventoryItemEditOutput").empty();
            };

            //This builds the item to edit or create
            var saveInventoryItem = function () {
                var valid;
                var message;
                var item = {
                    "Id": $("#id").val(),
                    "Name": $("#name").val(),
                    "CreatedByUserId": $("#createdByUserId").val(),
                    "Quantity": $("#quantity").val()
                };

                var operation;
                //If the item has an Id, the Put inventory item request is used, else the Post request is used
                if (item.Quantity < "0") {
                    message = "Quantity must be greater than or equal to zero.";
                    valid = false;
                }
                else if(!item.Name) {
                    message = "Name is required.";
                    valid = false;
                }
                else if(!item.CreatedByUserId) {
                    message = "Created by User Id (number) is required.";
                    valid = false;
                }
                else {
                    valid = true;
                }


                if (item.Id != "0" && valid) {
                    operation = InventoryServer.updateInventoryItem(item);
                    //This sends changes to database and removes edit form
                    operation.done(refreshInventoryList, clearEdit);
                }
                else if(valid) {
                    operation = InventoryServer.createInventoryItem(item);
                    //This sends changes to database and removes edit form
                    operation.done(refreshInventoryList, clearEdit);
                }
                else {
                    alert(message);
                }

              
                return false;
            };


            //This connects the click events as the page is rendered
            var wireEvents = function () {
                $(document).on("click", ".editInventoryItem", editInventoryItem);
                $(document).on("click", "#saveInventoryItem", saveInventoryItem);
                $(document).on("click", "#createInventoryItem", createInventoryItem);
                $(document).on("click", ".deleteInventoryItem", deleteInventoryItem);
               
                $(document).on("click", "#cancelInventoryItemSave", clearEdit);
                
               
            };

            //This returns the id of a selected inventory item
            var getId = function (element) {
                return $(element).parents("tr").attr("data-id");
            };

            $(function () {
                wireEvents();
                compileTemplates();
                refreshInventoryList(showInventoryList);
            });
        }());

    </script>

}





