﻿
@{
    ViewBag.Title = "Your Current Basket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Current Basket</h2>
<p>Below is your current purchases</p>

<table border="1">
    <tr>
        <td><p>Name     </p></td>
        <td><p>Quantity</p></td>
    </tr>
</table>


@section scripts{
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
    $(function () {
        var conn = $.connection.dataHub;
        conn.client.InventoryGrabbed = function (names, quantities) {
            //Print functionality
        };
        $.connection.hub.logging = true;
        $.connection.hub.start().done(function () {
            //post finish functionality
        });
    });
    function htmlEncode(value) {
        var encdedValue = $('<div />').text(value).html();
        return encodedValue;
    }
    </script>
    }
